.landmark{
    flex: 1;
    background-image: url(../images/cedric-mabanglo/cedric-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5em;
    margin-bottom: 5em;
}
.content-half{
    display: flex;
    flex: 1;
    height: 850px;
    margin-bottom: 5em;
}
.content-half-image{
    flex: 1;
}
.content-half-title{
    flex: 1;
    font-size: 1.5em;
    color: black;
    font-weight: 400;
    padding: 20px;
}
.content-half-title a{
    font-family: 'Bebas Neue', cursive;
    font-size: 5em;
    color: black;
}
.content-gray-grid{
    height: 850px;
    display: flex;
    flex-direction: column;
    background-color: #dcdcdc;
    padding: 20px;
}
.layer-grid{
    display: flex;
    height: 100%;
}
.img-third{
    padding: 20px;
    flex: 1;
}
