.ecopark{
    flex: 1;
    background-image: url('../images/bethany/eco-park-cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
}
.text{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 5em;
    margin-bottom: 5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.text a{
    font-family: 'Bebas Neue', cursive;
    font-size: 8em;
    color: black;
}
.text p{
    font-size: 1.5em;
    color: black;
    font-weight: 400;    
    text-align: justify;
}
.slideshow-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 750px;
    overflow: hidden;
}